html,
body {
  height: 100%;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 1 auto;
    justify-content: center;
    width: 100%;
    margin: 0px auto;

    &__text {
      margin-bottom: 30px;
      font-size: 30px;
    }

    &__btn {
      background-color: #000000;
      border: 1px seashell solid;
      border-radius: 30px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: transform;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 810px) {
  .not-found-page {
    &__main {
      &__text {
        margin-bottom: 30px;
        font-size: 19px;
      }
    }
  }
}
