.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  &__center {
    display: flex;
    &__logo {
      height: 60px;
      cursor: pointer;
    }
  }

  &__right {
    position: absolute;
    right: 30px;
    &__logo {
      height: 50px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1035px) {
  .header {
    &__center {
      &__logo {
        height: 50px;
      }
    }
    &__right {
      &__logo {
        height: 40px;
      }
    }
  }
}

@media (max-width: 810px) {
  .header {
    &__center {
      &__logo {
        height: 25px;
      }
    }
    &__right {
      &__logo {
        height: 28px;
      }
    }
  }
}

// адаптив под 4к
@media (min-width: 3830px) {
  .header {
    margin: 60px 0;
    &__center {
      &__logo {
        height: 120px;
      }
    }
    &__right {
      right: 60px;
      &__logo {
        height: 100px;
      }
    }
  }
}
