@import './StandartReset';
@import './HomePage';
@import './SelectPage';
@import './SongsPage';

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Unbounded', cursive;
}

body {
  background-color: black;
  color: white;
}

// .selectPage {
//   display: flex;
//   flex-direction: column;

//   &-header {
//     &-right {
//       margin: 55px 55px 00px 00px;
//       &-logo {
//         height: 50px;
//       }
//     }
//   }
// }
