.audioplayer {
  display: flex;
  flex-direction: column;

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-logo {
      height: 80px;
    }

    &-musiccard {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-logo {
        height: 250px;
      }

      &-name {
        font-size: 16px;
        text-align: center;
        max-width: 300px;
        font-weight: 200;
      }

      &-composer {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  &-range {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-strip {
      display: flex;
      align-items: center;
      height: 30px;
      width: 850px;
      margin: 0 30px;
    }
  }

  &-switches {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;

    &-btn {
      height: 40px;
      &-main {
        height: 70px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }

  &-temps {
    margin-top: 25px;
    display: flex;
    flex-direction: row;

    &-icon {
      height: 27px;
      margin: 0 30px;
    }
  }
}

.rc-slider-handle {
  background-color: #ffffff;
  width: 48px;
  height: 32px;
  border-radius: 50%;
  transform: rotate(-25deg) translateX(-50%) translateY(-25%) !important;
  border: none !important;
  opacity: 1;
  color: transparent;

  &-dragging,
  &:focus,
  &:hover {
    border: none !important;
    border-color: none !important;
    box-shadow: none !important;
    transform: rotate(-25deg) translateX(-50%) translateY(-25%) !important;
  }
}

.rc-slider-track {
  height: 2px;
  background-color: white;
  box-shadow: 0px 0px 3px 3px #bc00ff;
}

.rc-slider-rail {
  height: 2px;
  background-color: white;
}

//временная заглушка
.description {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-btn {
    background: rgb(255, 0, 177);
    background: linear-gradient(90deg, rgba(255, 0, 177, 1) 0%, rgba(49, 0, 255, 1) 100%);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  &__card {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 350px;

    &__icon {
      height: 120px;
    }

    &__title {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      margin-bottom: 10px;
    }

    &__synopsis {
      font-weight: 100;
      text-align: center;
      font-size: 18px;
    }
  }

  &__image-block {
    position: relative;
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__frame {
      position: absolute;
      margin-right: 1000px;
      height: 353px;
    }
  }

  &__text-block {
    max-width: 700px;
    &__title {
      font-size: 21px;
    }
    &__synopsis {
      font-size: 12px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1620px) {
  .description {
    &__image-block {
      margin-top: 40px;
      margin-bottom: 70px;
      &__frame {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1035px) {
  .audioplayer {
    &-main {
      &-logo {
        height: 50px;
      }

      &-musiccard {
        margin-top: 0;

        &-logo {
          height: 200px;
        }

        &-name {
          font-size: 14px;
        }

        &-composer {
          font-size: 14px;
        }
      }
    }
  }

  .slider {
    &-range {
      &-strip {
        width: 660px;
        margin: 0 25px;
      }
    }
  }

  .rc-slider-handle {
    width: 32px;
    height: 21px;
    border-radius: 50%;
    transform: rotate(-25deg) translateX(-50%) translateY(-25%) !important;
  }
}

@media (max-width: 810px) {
}
