.audioplayer {
  display: flex;
  flex-direction: column;

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-logo {
      height: 80px;
    }

    &-musiccard {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-logo {
        height: 250px;
      }

      &-name {
        font-size: 16px;
        text-align: center;
        max-width: 300px;
        font-weight: 200;
      }

      &-composer {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  &-range {
    display: flex;
    flex-direction: row;
  }

  &-switches {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;

    &-btn {
      height: 40px;
      &-main {
        height: 70px;
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }

  &-temps {
    margin-top: 25px;
    display: flex;
    flex-direction: row;

    &-icon {
      height: 27px;
      margin: 0 30px;
    }
  }
}
