.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: column;
    // max-width: 580px;
    &__img {
      width: 450px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &__title {
      display: flex;
      justify-content: center;
      margin-top: 70px;
      font-weight: 500;
    }
    &__subtitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &__text {
        margin-left: 10px;
        font-weight: 500;
        margin-right: 13px;
      }

      &__img {
        display: flex;
        align-self: center;
        width: 15px;
        height: 15px;
      }
    }
  }

  &__description {
    &__text {
      margin-top: 50px;
      text-align: center;
      font-weight: 200;
    }

    &__img {
      margin-top: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50px;
      height: 50px;
      opacity: 0.8;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 625px) {
  .welcomePage {
    &__header {
      &__title {
        font-size: 35px;
        margin: 3px 13px;
      }
      &__subtitle {
        font-size: 15px;
        padding-right: 15px;
        &__text {
          margin-left: 5px;
          font-weight: 500;
          font-size: 12px;
          margin-right: 16px;
        }
      }
    }

    &__description {
      &__text {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 460px) {
  .welcomePage {
    &__header {
      &__title {
        font-size: 28px;
      }
      &__img {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      &__subtitle {
        font-size: 11px;
        padding-right: 0;
        &__text {
          margin-left: 5px;
          font-weight: 500;
          font-size: 12px;
          margin-right: 19px;
        }
      }
    }

    &__description {
      &__text {
        font-size: 12px;
      }
    }
  }
}
